@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #333;
  --text-color: white;
  --main-color: #ffd700;
}

.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
}

.navbar-logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: var(--main-color);
}

.seeCarrito {
  text-decoration: none;
  color: var(--text-color);
  font-size: 30px !important;
  transition: color 0.3s ease;
}

.seeCarrito:hover {
  color: var(--main-color);
  font-size: 36px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.navbar a:hover {
  color: var(--main-color);
  transform: scale(1.1);
  transition: 0.3s;
}

.active {
  color: var(--main-color) !important;
}

.navbar-transparent {
  opacity: 0.75;
  transition: opacity 0.7s ease;
}

/* ... Otros estilos ... */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
}

.navbar-header {
  display: flex;
  align-items: center;
}

/* ... Otros estilos ... */

/* Media Query para Pantallas Pequeñas */
@media screen and (max-width: 768px) {
  *.navbar {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
      font-size: 12px;
      font-weight: bold;
      transition: color 0.3s ease;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .icons {
    /* ... Otros estilos ... */
    width: 100%;
    padding: 5px; /* Ajusta según sea necesario */
  }

  .pony {
    /* ... Otros estilos ... */
    width: 100%;
    padding: 5px; /* Ajusta según sea necesario */
  }

}
