.imagenes {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px 0;
}

.image-container {
  display: flex;
  justify-content: space-around; /* Cambia space-between a space-around */
  max-width: 1000px; /* Ajusta el ancho máximo según tu diseño */
  margin: 0 auto;
}

.image-box {
  text-align: center;
  flex: 1;
  max-width: 392px; /* Aumenta el tamaño máximo para la caja */
  padding: 52px; /* Aumenta el padding para mayor espacio alrededor de la caja */
  transition: transform 0.3s, cursor 0.3s;
  box-sizing: border-box;
}

.image-box img {
  width: 100%;
  height: auto;
  max-width: 70%;
  border-radius: 50%;
  clip-path: circle(43%);
}

.image-box h2, 
.image-box p {
  margin: 0;
  padding: 5px 0;
}

.image-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}
